		<ul class = "col center text">
			<li class = "date">{{calendar.date}} </li>
			<li class = "time">{{calendar.time}} </li>		
			<li class = "welcome-msg">{{message}} </li>
			<li>
				<ul class = "note col center">
					<li ng-if = "questionStatus != -1">{{questionStatus}} </li>
					<li ng-if = "questionStatus == -1"> How are you feeling today? </li>
					<li ng-if = "questionStatus == 'How are you feeling today?' || questionStatus == -1">
						<answer-options-landing></answer-options-landing>
					</li>
				</ul>
			</li>
		</ul>

		